/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-transition: 0.3s;
  --section-background: #ececec;
}
/* End Variables */
/* Start Global Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */

.main-title {
  width: fit-content;
  position: relative;
  text-transform: uppercase;
  border: 2px black solid;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  margin: 10px 0 60px;
  transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
  transition: var(--main-transition);
  transition-duration: 1s;
}

.main-title::after {
  right: -30px;
}

.main-title::before {
  left: -30px;
}

.main-title:hover {
  color: white;
  border-color: transparent;
}

.main-title:hover::after {
  top: 50%;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  z-index: -1;
}

.main-title:hover::before {
  top: 50%;
  left: 0;
  width: calc(50% + 1px);
  height: 100%;
  border-radius: 0;
  z-index: -1;
}

/* End Components */

/* Start Header */
header {
  background-color: #ffffff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .container .big-box {
  background-color: white;
  top: 100%;
  left: 0;
  position: absolute;
  display: flex;
  z-index: -1;
  opacity: 0;
  width: 100%;
  padding: 20px;
  border-bottom: 5px var(--main-color) solid;
  transition: var(--main-transition);
}

@media (max-width: 991px) {
  header .container .big-box img {
    display: none;
  }
}

header .container .big-box .box-links {
  display: flex;
  min-width: 250px;
  flex: 1;
  justify-content: space-around;
}

@media (max-width: 991px) {
  header .container .big-box .box-links {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  header .container .big-box .box-links {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  header .container .big-box .box-links ul {
    flex-basis: 45%;
    margin: 0;
  }
}

header .container .big-box .box-links ul li a {
  padding: 15px 40px;
  border-bottom: 1px rgba(0, 0, 0, 0.151) solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .container .big-box .box-links ul li a {
  color: var(--main-color);
  font-weight: bold;
}

header .container > a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  header .container > a {
    width: 100%;
    height: 50px;
  }
}

header .container .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .container .links {
    margin: auto;
  }
}

header .container .links > ul {
  display: flex;
}

header .container .links > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 72px;
  font-size: 18px;
  color: black;
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  header .container .links > ul > li > a {
    padding: 10px;
  }
}

header .container .links > ul > li.others:hover .big-box {
  z-index: 1;
  opacity: 100%;
}

header .container > .links > ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--main-color);
  height: 5px;
  top: 0;
  right: -100%;
  transition: var(--main-transition);
}

header .container > .links > ul > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header .container .links ul li a:hover::before {
  right: 0;
}
/* End header */
/* Start Landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: 0;
  z-index: -1;
  background-color: #eee;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  min-height: calc(100vh - 72px);
}

.landing .container .text {
  display: flex;
  line-height: 1.5;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.landing .container .text h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -2px;
}

.landing .container .text p {
  font-size: 25px;
  color: #777;
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 25px;
  }

  .landing .container .text p {
    font-size: 14px;
  }
}

.landing .container img {
  width: 600px;
  position: relative;
  animation-name: updown;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (max-width: 991px) {
  .landing .container img {
    display: none;
  }
}

/* Start Animation */
@keyframes updown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 40px;
  }
}
/* End Animation */

.landing .arrow {
  position: absolute;
  bottom: 40px;
  color: var(--main-color);
  font-size: 15px;
  left: 50%;
  transform: translateX(-50%);
}

/* End Landing */

/* Start Articles */

.articles .titles {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .titles .title {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  transition: var(--main-transition);
  position: relative;
}

.articles .titles .title:hover {
  margin-top: -10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}
.articles .titles .title img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}

.articles .titles .title .description .text {
  padding: 20px;
}

.articles .titles .title .description .text p {
  line-height: 1.5;
  color: #777;
  padding: 10px 0 0;
}

.articles .titles .title .description .link {
  border-top: 1px #ddd solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

.articles .titles .title .description .link a {
  color: var(--main-color);
  font-weight: bold;
  padding: 20px;
  display: block;
}

.articles .titles .title .description .link i {
  color: var(--main-color);
  position: relative;
  left: -20px;
}

.articles .titles .title:hover .description .link i {
  animation: righting 0.5s linear infinite;
}

/* Start Animation */
@keyframes righting {
  0% {
    left: -20px;
  }

  100% {
    left: -10px;
  }
}
/* End Animation */

/* End Articles */
/* Start Gallery  */

.gallery {
  background-color: var(--section-background);
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: 60px;
}

.gallery .photos .photo {
  background-color: white;
  padding: 15px;
}
.gallery .photos .photo img {
  max-width: 100%;
}

/* End Gallery  */
/* Start Features */

/* Start Boxes Classes */
.features .box.time {
  --main-color: #009688;
}

.features .box.quality {
  --main-color: #f44036;
}

.features .box.passion {
  --main-color: #03a9f4;
}
/* Start Boxes Classes */

.features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.features .features-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: 60px;
}

.features .features-boxes .box {
  border: 1px #ccc solid;
  text-align: center;
  overflow: hidden;
}

.features .features-boxes .box:hover .text::before {
  transform: skewY(-330deg);
}

.features .features-boxes .box .image {
  position: relative;
  z-index: -1;
}

.features .features-boxes .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 50%;
}

.features .features-boxes .box .image img {
  max-width: 100%;
}

.features .features-boxes .box .text {
  padding: 15px;
  position: relative;
}

.features .features-boxes .box .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 210px;
  background-color: white;
  left: 0;
  transform: skewY(330deg);
  z-index: -1;
}

.features .features-boxes .box .text h1 {
  font-size: 40px;
  margin: 20px auto 40px;
  position: relative;
  width: fit-content;
}

.features .features-boxes .box .text h1::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 70%;
  height: 5px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.features .features-boxes .box .text p {
  color: #777;
  line-height: 2;
  font-size: 20px;
}

.features .features-boxes .box .text a {
  display: block;
  margin: 50px auto 20px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 22px;
  color: var(--main-color);
  border: 3px var(--main-color) solid;
  border-radius: 6px;
  width: fit-content;
  position: relative;
  transition: var(--main-transition);
}

.features .features-boxes .box:hover a {
  color: white;
}

.features .features-boxes .box .text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: var(--main-transition);
}

.features .features-boxes .box:hover a::before {
  width: 100%;
}

/* Start Features */

/* Start Testimonials */
.testimonials {
  background-color: var(--section-background);
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .boxes .box {
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}

.testimonials .boxes .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--section-background);
  right: -10px;
  top: -50px;
  position: absolute;
}

.testimonials .boxes .box .name-title h3 {
  padding-bottom: 10px;
}

.testimonials .boxes .box p {
  color: #777;
}

.testimonials .boxes .box > p {
  font-size: 15px;
  line-height: 1.5;
}

.testimonials .boxes .box .stars {
  padding: 10px 0;
}

.testimonials .boxes .box .stars i {
  color: #ffc107;
}
/* End Testimonials */

/* Start Members */

.members {
  padding-top: 100px;
  padding-bottom: 100px;
}

.members .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.members .boxes .box {
  padding: 40px 0;
  position: relative;
}

.members .boxes .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: -1;
  border-radius: 10px;
}

.members .boxes .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  transition: var(--main-transition);
}

.members .boxes .box:hover::before {
  width: 85%;
}

.members .boxes .box .links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  padding-bottom: 50px;
}

.members .boxes .box .links i {
  color: #777;
  padding-top: 40px;
  cursor: pointer;
}

.members .boxes .box .links i:hover {
  color: var(--main-color);
}

.members .boxes .box .text {
  width: fit-content;
  position: relative;
  top: 25px;
  left: 80px;
}
.members .boxes .box .text h2 {
  color: var(--main-color);
}

.members .boxes .box .text p {
  font-size: 15px;
  padding-top: 10px;
}
.members .boxes .box:hover .image img {
  filter: grayscale();
}
.members .boxes .image img {
  max-width: 85%;
  border-radius: 10px;
  position: relative;
  top: 20px;
} /* End Members */

/* Start Services */
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--section-background);
}

.services .services-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .services-boxes .service {
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
  transition: var(--main-transition);
  position: relative;
}

.services .services-boxes .service:hover {
  transform: translateY(-10px);
}

.services .services-boxes .service::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  transition: var(--main-transition);
}

.services .services-boxes .service:hover::before {
  width: 100%;
}

.services .services-boxes .service .big-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.services .services-boxes .service .big-title i {
  color: #d5d5d5;
  font-size: 60px;
}

.services .services-boxes .service .big-title h2 {
  margin: 20px 0 0;
  color: var(--main-color);
}

.services .services-boxes .service .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  overflow: hidden;
}

.services .services-boxes .service .bottom h1 {
  margin: 0;
  display: block;
  color: white;
  padding: 10px 25px;
  background-color: var(--main-color);
  position: relative;
  z-index: 0;
}

.services .services-boxes .service .bottom h1::after {
  content: "";
  position: absolute;
  border-width: 60px 20px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
  right: -20px;
  top: 0;
  z-index: -2;
}

.services .services-boxes .service .bottom h1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  background-color: #d5d5d5;
  right: -50px;
  top: 0;
  transform: skewX(-30deg);
  z-index: -1;
}

.services .services-boxes .service .bottom a {
  color: var(--main-color);
  margin: 15px;
}

/* End Services */

/* Start Skills */
.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-skills .skills {
  display: flex;
}

@media (max-width: 991px) {
  .our-skills .skills img {
    display: none;
  }
}
.our-skills .skills .skills-info {
  flex-basis: 100%;
}

.our-skills .skills .skills-info .skill {
  /* background-color: red; */
  margin-bottom: 20px;
}

.our-skills .skills .skills-info .skill .info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.our-skills .skills .skills-info .skill .info p {
  color: var(--main-color);
  border: 1px #ccc solid;
  padding: 4px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}

.our-skills .skills .skills-info .skill .percentage {
  width: 100%;
  height: 30px;
  background-color: #eeeeee;
}

.our-skills .skills .skills-info .skill .percentage span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
/* End Skills */

/* Start Workstep */
.workstep {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--section-background);
}

.workstep .works-section {
  display: flex;
}

.workstep .works-section .image {
  align-self: center;
}

@media (max-width: 991px) {
  .workstep .works-section .image {
    display: none;
  }
}

.workstep .works-section .works {
  padding-left: 100px;
}

@media (max-width: 991px) {
  .workstep .works-section .works {
    padding: 0;
  }
}
.workstep .works-section .works .work {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  padding: 40px;
  align-items: center;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

.workstep .works-section .works .work::before,
.workstep .works-section .works .work::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f5f5;
  width: 99%;
  height: 99%;
  border-radius: 5px;

  z-index: -1;
}

.workstep .works-section .works .work::after {
  height: 0;
  width: 0;
  background-color: var(--section-background);
  transition: var(--main-transition);
}

.workstep .works-section .works .work:hover::after {
  width: 99%;
  height: 99%;
}
.workstep .works-section .works .work img {
  height: 60px;
}

.workstep .works-section .works .work .text {
  padding-left: 40px;
}

.workstep .works-section .works .work .text h2 {
  padding-bottom: 10px;
}

.workstep .works-section .works .work .text p {
  color: #777;
  line-height: 1.7;
  font-size: 18px;
}
/* End Workstep */

/* Start Events */
.events {
  padding-top: 100px;
  padding-bottom: 100px;
}

.events .events-section {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .events .events-section {
    flex-direction: column;
  }
}

.events .events-section img {
  width: 450px;
  max-width: 100%;
}

.events .events-section .info {
  text-align: center;
}

.events .events-section .info .counters {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.events .events-section .info .counters .counter {
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 10px;
  transition: var(--main-transition);
}

.events .events-section .info .counters .counter:hover {
  border-color: var(--main-color);
}

.events .events-section .info .counters .counter h1 {
  padding: 15px;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  border-bottom: 1px #ccc solid;
  transition: var(--main-transition);
}

.events .events-section .info .counters .counter:hover h1 {
  border-bottom-color: var(--main-color);
}
.events .events-section .info .counters .counter p {
  padding: 5px;
  font-size: 14px;
}

.events .events-section .info .text {
  margin: 30px 0 0;
}

.events .events-section .info .text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.events .events-section .info .text p {
  line-height: 2;
  font-size: 18px;
  color: #777;
}

.events .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.events .subscribe form {
  margin-top: 50px;
  background-color: #f6f5f5;
  padding: 25px 40px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  flex-basis: 75%;
  caret-color: var(--main-color);
  transition: var(--main-transition);
}

.events .subscribe form input[type="text"]::placeholder {
  transition: var(--main-transition);
}

.events .subscribe form input[type="text"]:focus::placeholder {
  color: transparent;
}

.events .subscribe form input[type="submit"] {
  padding: 20px;
  border-radius: 50px;
  outline: none;
  flex-basis: 15%;
  color: white;
  border: none;
  font-weight: bold;
  background-color: var(--main-color);
}

/* End Events */

/* Start Pricing */
.pricing {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--section-background);
}

.pricing .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.pricing .boxes .box {
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}

.pricing .boxes .box::after,
.pricing .boxes .box::before {
  content: "";
  position: absolute;
  background-color: #f6f5f5;
  height: 50%;
  z-index: -1;
  width: 0;
  transition: var(--main-transition);
}

.pricing .boxes .box::after {
  left: 0;
  top: 0;
}

.pricing .boxes .box::before {
  bottom: 0;
  right: 0;
}

.pricing .boxes .box:hover::after,
.pricing .boxes .box:hover::before {
  width: 100%;
}

.pricing .boxes .box .info {
  text-align: center;
}

.pricing .boxes .box:nth-child(2) {
  transform: translateY(-20px);
}

@media (max-width: 767px) {
  .pricing .boxes .box:nth-child(2) {
    transform: none;
  }
}

.pricing .boxes .box:nth-child(2) .info {
  position: relative;
}

.pricing .boxes .box:nth-child(2) .info::before {
  content: "Most Popular";
  position: absolute;
  top: -3px;
  right: -15px;
  background-color: var(--main-color);
  width: fit-content;
  color: white;
  font-weight: bold;
  padding: 10px;
  transform: rotate(90deg);
  height: fit-content;
}
.pricing .boxes .box:nth-child(2) .info::after {
  content: "";
  position: absolute;
  border-width: 19.5px;
  border-style: solid;
  border-color: transparent var(--main-color) transparent var(--main-color);
  top: 54px;
  right: 22.5px;
}

.pricing .boxes .box .info h2 {
  margin: 40px 0;
}

.pricing .boxes .box .info h1 {
  font-size: 60px;
  color: var(--main-color);
  margin: 20px 0 5px;
}

.pricing .boxes .box .info p {
  color: #777;
}

.pricing .boxes .box .info img {
  width: 80px;
}

.pricing .boxes .box .features {
  padding: 20px 0;
}

.pricing .boxes .box .features p {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .boxes .box .features p i {
  color: var(--main-color);
  margin-right: 10px;
}

.pricing .boxes .box a {
  border: 2px var(--main-color) solid;
  display: block;
  width: fit-content;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--main-color);
  margin: 40px auto;
  transition: var(--main-transition);
}

.pricing .boxes .box a:hover {
  background-color: var(--main-color);
  color: white;
}

/* End Pricing */

/* Start Videos */
.videos {
  padding-top: 100px;
  padding-bottom: 100px;
}

.videos .video-box {
  display: flex;
  border: 1px #e2e2e2 solid;
  justify-content: center;
}

.videos .video-box .video-list {
  min-width: 300px;
}

.videos .video-box .video-list .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.videos .video-box .video-list ul {
  height: calc(100% - 39px);
}

.videos .video-box .video-list ul li {
  padding: 20px;
  border-bottom: 1px #e2e2e2 solid;
}

.videos .video-box .video-list ul li a {
  display: block;
  width: 240px;
  color: black;
  transition: var(--main-transition);
}

.videos .video-box .video-list ul li a:hover {
  color: var(--main-color);
}

.videos .video-box .video-list ul li a span {
  margin-top: 10px;
  display: block;
  color: #777;
}

.videos .video-box .current {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .videos .video-box {
    flex-direction: column;
  }
}

.videos .video-box .current img {
  max-width: 100%;
}

.videos .video-box .current .name {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

/* End Videos */

/* Start Stats */
.stats {
  background-image: url("../Images/stats.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}

.stats::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 95%;
  z-index: -1;
  background-color: white;
}

.stats .title {
  margin: 5px auto 40px;
  font-size: 40px;
  width: fit-content;
}

.stats .infos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .infos .info {
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.stats .infos .info::after,
.stats .infos .info::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 0;
  transition: calc(var(--main-transition) * 3);
  width: 2px;
}

.stats .infos .info::after {
  bottom: 0;
  left: 0;
}

.stats .infos .info::before {
  top: 0;
  right: 0;
}

.stats .infos .info:hover::after,
.stats .infos .info:hover::before {
  height: 100%;
}

.stats .infos .info i {
  font-size: 30px;
}

.stats .infos .info h2 {
  font-size: 50px;
  margin: 10px 0;
}

.stats .infos .info p {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: var(--main-color);
}
/* End Stats */

/* Start Discount */
.discount {
  display: flex;
}

@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}

.discount .info {
  background-color: var(--main-color);
  flex-basis: 50%;
  color: white;
  text-align: center;
}

.discount .info h1 {
  margin: 80px 0 40px;
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .info p {
  font-size: 18px;
  margin: 20px auto;
  width: 500px;
  max-width: 100%;
  line-height: 1.7;
}

.discount .info img {
  width: 300px;
}

.discount .request {
  text-align: center;
  display: flex;
  flex-basis: 50%;
  align-items: center;
  flex-direction: column;
}

.discount .request h1 {
  font-size: 38px;
  margin: 50px 0 30px;
  width: fit-content;
}

.discount .request form {
}

.discount .request form input,
.discount .request form textarea {
  padding: 15px 10px;
  background-color: #f6f5f5;
  margin-bottom: 20px;
  width: 350px;
  display: block;
  border: none;
  border-bottom: 1px #ccc solid;
  caret-color: var(--main-color);
  outline: none;
}

.discount .request form textarea {
  resize: none;
}

.discount .request form input[type="submit"] {
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-transition);
  cursor: pointer;
}

.discount .request form input[type="submit"]:hover {
  background-color: #0272cd;
}
/* End Discount */

/* Start Footer */
footer {
  background-color: #191919;
  color: white;
  min-height: 75vh;
}

footer .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 80px;
}

footer .box .social h1 {
  font-size: 50px;
  margin: 0 0 20px;
}

footer .box .social i {
  color: #b9b9b9;
  padding: 15px;
  background-color: #313131;
  margin-right: 10px;
}

footer .box .social p {
  margin-top: 20px;
  color: #999;
  line-height: 2;
}

footer .box .links a {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: #999;
  transition: var(--main-transition);
}
footer .box .links a:not(:last-child) {
  border-bottom: 1px solid #777;
}

footer .box .links a:hover {
  color: white;
  transform: translateX(10px);
  border: none;
}

footer .box .links i {
  color: var(--main-color);
  margin-right: 10px;
}

footer .box .info i {
  color: var(--main-color);
  font-size: 25px;
  margin-right: 20px;
}

footer .box .info p {
  padding-bottom: 50px;
}

footer .box .images img {
  padding: 3px;
  background-color: white;
  width: 75px;
  margin: 3px;
}

footer .end-line {
  border-top: 1px solid #777;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
}
/* End Footer */
